body {
 background-color: black;
}

h1, h2, h3, p, strong, span, li {
  color: white;
  font-family: monospace;
}

p {
  color: lightgreen;
}

span, li {
  color: lightpink;
}

h1 {
  color:  red;
}

span:hover, li:hover {
  background-color: white;
  color: black;
}

.dialogue {
  border-style: solid;
  border-color: grey;
  padding: 10px;
}